{
    "extends": ["airbnb-base", "plugin:node/recommended", "prettier"],
    "plugins": ["chai-friendly", "prettier"],
    "rules": {
        "node/exports-style": ["error", "module.exports"],
        "node/prefer-global/buffer": ["error", "always"],
        "node/prefer-global/console": ["error", "always"],
        "node/prefer-global/process": ["error", "always"],
        "node/prefer-global/url-search-params": ["error", "always"],
        "node/prefer-global/url": ["error", "always"],
        "node/no-deprecated-api": "warn",
        "prettier/prettier": ["error"],
        "indent": "off",
        "linebreak-style": "off",
        "space-before-function-paren": "off",
        "comma-dangle": "off",
        "no-underscore-dangle": "off",
        "no-unused-expressions": "off",
        "chai-friendly/no-unused-expressions": "error"
    },
    "env": {
        "node": true,
        "es6": true,
        "mocha": true
    }
}
