extends layout
include mixins/mixins_index

block content
    section.main
        .clearfix
        
            +login_form

            .mdl-spinner.mdl-spinner--single-color.mdl-js-spinner.is-active(ng-show='loading')
                
            #blur.ng-hide(ng-show="editing && !loading || showLogInForm")
            
            // Existing product details
            div(ng-controller="DronePartTableController", ng-init="DPTC_getDronePartById('" + id + "')")
                h2.hstyle {{ dronePart.name }} details 
                
                h3.hstyle Description
                .text-box
                    p This {{ dronePart.category }} was developed by {{ dronePart.brand }} and published on {{ dronePart.datePublished }}.
                    p {{ dronePart.description }}
                    
                h3.hstyle Specs
                .form_box  
                    table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
                        tbody  
                            tr(ng-if="dronePart.specs.weight")
                                td.mdl-data-table__cell--non-numeric Weight
                                td.mdl-data-table__cell--non-numeric {{ dronePart.specs.weight }} g
                            tr(ng-if="dronePart.specs.weight && dronePart.specs.width && dronePart.specs.length")
                                td.mdl-data-table__cell--non-numeric Height X Width X Length
                                td.mdl-data-table__cell--non-numeric {{ (dronePart.specs.height ? dronePart.specs.height : 'N') }} mm X {{ (dronePart.specs.width ? dronePart.specs.width : 'N') }} mm X {{ (dronePart.specs.length ? dronePart.specs.length : 'N') }} mm
                            tr(ng-if="dronePart.specs.weight && dronePart.specs.mountLength")
                                td.mdl-data-table__cell--non-numeric Mounting Width X Length
                                td.mdl-data-table__cell--non-numeric {{ dronePart.specs.mountWidth }} mm X {{ dronePart.specs.mountLength }} mm
                            tr(ng-if="dronePart.specs.voltsMin")
                                td.mdl-data-table__cell--non-numeric Voltage input
                                td.mdl-data-table__cell--non-numeric {{ dronePart.specs.voltsMin }}-{{ dronePart.specs.voltsMax }} {{ dronePart.specs.voltMetric }}
                            tr(ng-if="dronePart.specs.ampsConstant || dronePart.specs.ampsPeak")
                                td.mdl-data-table__cell--non-numeric Current
                                td.mdl-data-table__cell--non-numeric {{ (dronePart.specs.part4in1ESC ? '4 x ' : '') }}{{ (dronePart.specs.ampsConstant ? dronePart.specs.ampsConstant + ' A constant' : '') }} {{ (dronePart.specs.ampsConstant && dronePart.specs.ampsPeak ? '/' : '') }} {{ (dronePart.specs.ampsPeak ? dronePart.specs.ampsPeak + ' A max' : '') }}

                h3.hstyle Features
                .form_box  
                    table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
                        tbody  
                            tr(ng-if="dronePart.features.supportedESCFirmware")
                                td.mdl-data-table__cell--non-numeric Firmware
                                td.mdl-data-table__cell--non-numeric {{ dronePart.features.supportedESCFirmware }}
                                
                            tr(ng-if="dronePart.features.supportedESCProtocol")
                                td.mdl-data-table__cell--non-numeric Protocols
                                td.mdl-data-table__cell--non-numeric {{ dronePart.features.supportedESCProtocol }}
                                
                            tr(ng-if="dronePart.features.BEC")
                                td.mdl-data-table__cell--non-numeric BEC
                                td.mdl-data-table__cell--non-numeric
                                    label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for='switch-BEC')
                                        input#switch-BEC.mdl-switch__input(type='checkbox', ng-checked="dronePart.features.BEC", disabled)
                                        
                            tr(ng-if="dronePart.features.OSD")
                                td.mdl-data-table__cell--non-numeric OSD
                                td.mdl-data-table__cell--non-numeric
                                    label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for='switch-OSD')
                                        input#switch-OSD.mdl-switch__input(type='checkbox', ng-checked="dronePart.features.OSD", disabled)
                                        
                            tr(ng-if="dronePart.features.voltageMonitor")
                                td.mdl-data-table__cell--non-numeric VBat
                                td.mdl-data-table__cell--non-numeric
                                    label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for='switch-voltageMonitor')
                                        input#switch-voltageMonitor.mdl-switch__input(type='checkbox', ng-checked="dronePart.features.voltageMonitor", disabled)
                            
                            tr(ng-if="dronePart.features.currentMonitor")
                                td.mdl-data-table__cell--non-numeric CRT
                                td.mdl-data-table__cell--non-numeric
                                    label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for='switch-currentMonitor')
                                        input#switch-currentMonitor.mdl-switch__input(type='checkbox', ng-checked="dronePart.features.currentMonitor", disabled)
                            
                            tr(ng-if="dronePart.features.pinBuzzer")
                                td.mdl-data-table__cell--non-numeric External Buzzer
                                td.mdl-data-table__cell--non-numeric
                                    label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for='switch-pinBuzzer')
                                        input#switch-pinBuzzer.mdl-switch__input(type='checkbox', ng-checked="dronePart.features.pinBuzzer", disabled)
                            
                            tr(ng-if="dronePart.features.pinLED")
                                td.mdl-data-table__cell--non-numeric LED Strip
                                td.mdl-data-table__cell--non-numeric
                                    label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for='switch-pinLED')
                                        input#switch-pinLED.mdl-switch__input(type='checkbox', ng-checked="dronePart.features.pinLED", disabled)
                                
                                
                h3.hstyle Debug
                .form_box  
                    table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
                        thead
                            tr
                                th.mdl-data-table__cell--non-numeric Key
                                th.mdl-data-table__cell--non-numeric Value

                        tbody(ng-repeat="(key, value) in dronePart")   
                            tr
                                td.mdl-data-table__cell--non-numeric {{key}}
                                td.mdl-data-table__cell--non-numeric {{value}}
                            
