extends layout
include mixins/mixins_index

block content
    section.main
        .clearfix
        
            +login_form

            .mdl-spinner.mdl-spinner--single-color.mdl-js-spinner.is-active(ng-show='loading')
                
            #blur.ng-hide(ng-show="editing && !loading || showLogInForm")
